<h1>Insert</h1>

<form method="POST" action="">
    <div class="form-group">
      <label for="nombre">Nombre de la persona</label>
      <input type="text" required class="form-control" id="nombre" name="nombre">
    </div>
    <div class="form-group">
        <label for="email">Email de la persona</label>
        <input type="email" required class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Insert</button>
    </div>
</form>
